/* *{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins',sans-serif;
}
body
{
    overflow-x: hidden;
    overflow-y: hidden;
}
.parallax{
    display: flex;
    height: 100%;
    justify-content: center;
    pointer-events: none;
    overflow-x:hidden;
    overflow-y:hidden;
    transition: 0.45s cubic-bezier(.22,.58,.4,1.02);
}

.parallax img{
    position: absolute;
}


.inputformdiv {
    background-color: beige;
    position: relative;
    width: fit-content;
    margin: auto;
    text-align: right;
    top:30vh;
    padding: 10px;
    border-radius: 40px;
    margin-top: 10vh;
}
.inputformdiv form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
}
.inputformdiv input {
    padding: 1vh 2vw;
    margin: 1vh 1vw;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 2vh;
}
.inputformdiv button{
    padding: 1vh 2vw;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 2vh;
    align-self: center;
    cursor: pointer;
}
.loader {
    display: none;
    margin: auto;
    border: 4px solid aqua;
    /* Light grey */
    border-top: 4px solid beige;
    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error {
    display: none;
    background-color: lightcoral;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: fit-content;
    margin: auto
} */