*{
    margin: 0%;
    padding: 0%;
}

#Parallax{
    overflow-x: hidden;
    overflow-y: hidden;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    place-items: center;
    justify-content: center;
}

#Parallax img{
    width: 110vw;
    height:100vh;
}

#Parallax #Sky{
    grid-area: 1/1;
}

#Parallax #Mountain{
    grid-area: 1/1;
}

#Parallax #Water{
    grid-area: 1/1;
    width: 150%;
}
#Parallax #ParallaxDiv{
    grid-area: 1/1;
    
    width: auto;
    padding: 1%;

    background: rgb(83,86,255);
    background: linear-gradient(83deg, rgba(83,86,255,1) 21%, rgba(55,140,231,1) 43%, rgba(103,198,227,1) 73%, rgba(223,245,255,1) 100%);
    
    border-radius: 10px;
    border: 2px solid black;
    

    text-align: center;
}
.Details{
    margin: 0% 0% 5% 0%;
    padding: 1%;
}

#ParallaxDiv input, button{
    border-radius: 10px;

    background: rgb(215,228,192);
    background: linear-gradient(270deg, rgba(215,228,192,1) 21%, rgba(198,220,186,1) 43%, rgba(187,195,164,1) 73%, rgba(179,163,152,1) 100%);

    text-align: center;
}

#ParallaxDiv input:hover{
    border: 2px solid red;
}
#ParallaxDiv button:hover{
    border: 2px solid red;
}