*{
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../assets/halfToneBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}

#specialheader {
    border: 1px solid transparent;
}

#main-content {
    height: 100%;
    width: 100%;
    padding-top: 10vh; 
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
}

input {
    border-radius: 8px;
    border-color: gray;
    background-color: whitesmoke;
}

#oldHeader {
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100px;
    background-color: black;
}

#subj {
    width: 400px;
}

#descr {
    width: 400px;
    height: 200px;
    border-width: 2px;
    border-radius: 8px;
}

#leftrow {
    align-items: right;
    align-self: right;
    align-content: right;
    vertical-align: top;
    text-align: right;
    padding: 10px;
}

#subBtn {
    padding: 5px;
    background-color: rgb(180, 255, 180);
    border-radius: 8px;
}

#reset {
    padding: 5px;
    background-color: rgb(255, 180, 180)
}

#formButtons {
    display: flex;
    width: fit-content;
    margin: 0% 0% 0% auto; 
}