*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(../Browser/images/backgroundmountain.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.searchbar-container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20vh;
    height: 10vh;
}

.searchbar
{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.searchbar-input
{
    width: 90% ;
    height: 50%;
    padding-left:2vw ;
    border-color:black;
    border: 30px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.7);

}
.searchbar-input::placeholder
{
    color: black;
    font-size: large;
}
.imagecontainer
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 20%;
}

.searchbar-logo
{
    width: auto ;
    height: 50%;
    border-radius: 50% ;
    margin-left: 1vw;
    background-color:black;
    cursor: pointer;
}
.searchbar-logo img
{
    width: 100%;
    height: 100%;
}
.browser-container
{
    position: relative;
    /* background-color: red; */
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.browser-container ul{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;

}
.span
{
    grid-column:span 2;
}
.browser-container ul li
{
    position: relative;
    list-style: none;
    background-color: blue;
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}
.browser-container ul li:hover
{
    transform:scale(1.1) ;
}
.broswercell-textcontainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2px);

}

.browser-container ul li a
{
    text-align: center;

    z-index: 30;
    font-size: large;
    text-decoration: none;

    color: black;
    /* background-color:green; */

}
.browser-container ul li img
{
    width: 100%;
    height: 100%;
    z-index: -1;
}