/* body
{
    /* background: url(./backgroundmountain.avif),url(/backgroundfog.jpg);
    background-repeat: no-repeat,repeat-x;
    background-size: cover,cover;
    background-blend-mode:lighten;
    animation-name: fog;
    animation-duration: 5s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    background-attachment:fixed;
    overflow-x: hidden; */
.specialheader
{
    z-index: 2;
}

.home video
{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.videoslider.active
{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}
.videoslider
{
    position: absolute;
    clip-path: circle(0% at 0 50%);
    
}

.slidernavigation
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(30vh);
    margin-bottom: 15px;

}
.slidernavigation .nav-button
{
    width: 12px;
    height: 12px;
    background: white;  
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}
.slidernavigation .nav-button:not(:last-child)
{
    margin-right: 20px;
}
.slidernavigation .nav-button:hover
{
    transform: scale(1.2);
}
.nav-button.active
{
    background:#00c0e5;
}

 .introcontainer
 {
    z-index: 888;
    position: absolute;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    
 }
.intro{
    position: relative;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    top: 0;
    width: 50%;
    padding: 0% 5%;
}
.intro h1
{
    font-weight: bolder;
    text-align: center;
}
.intro p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    text-align: justify;
}
.intro button{
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    font-family: 'Poppins',sans-serif;
    color: black;
    border: 2px solid black;
    padding: 12px 24px;
    font-size: 13px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}
.intro button:hover{
    background-color: grey;
    background-image: url(./backgroundmountain.avif),url(./backgroundfog.jpg);
    background-repeat: no-repeat,no-repeat;
    background-size: 100%,cover;
    background-position: 0px -10vh;
    background-blend-mode:exclusion;
}
#Para-container
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Para-container p
{
    width: 50%;
}