body
{
    background: url(./assets/images/backgroundmountain.avif),url(./assets/images/backgroundfog.jpg);
    background-repeat: no-repeat,repeat-x;
    background-size: cover,cover;
    background-blend-mode:lighten;
    animation-name: fog;
    animation-duration: 5s;
    animation-timing-function:ease;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    background-attachment:fixed;
    overflow-x: hidden;
}

@keyframes fog{
    0%{background-position:0% top,0%;background-size: cover,200%;}
    100%{background-position:0% top,100%;background-size: cover,200%;}
 }

 .introcontainer
 {
    position: absolute;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    width: 100vw;
    height:100vh;
    
 }
.intro{
    position: relative;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    top: 0;
    width: 50%;
    padding: 0% 5%;
}
.intro h1
{
    font-weight: bolder;
    text-align: center;
}
.intro p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    text-align: justify;
}
.intro button{
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    font-family: 'Poppins',sans-serif;
    color: black;
    border: 2px solid black;
    padding: 12px 24px;
    font-size: 13px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}
.intro button:hover{
    background-color: grey;
}