body
{
    background: url(./backgroundmountain.avif),url(/backgroundfog.jpg);
    background-repeat: no-repeat,repeat-x;
    background-size: cover,cover;
    background-blend-mode:lighten;
    animation-name: fog;
    animation-duration: 25s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    background-attachment:fixed;
    overflow-x: hidden;
}

@keyframes fog{
    0%{background-position:0% top,0%;background-size: cover,200%;}
    100%{background-position:0% top,100%;background-size: cover,200%;}
 }

 .intro{
    width: 90%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    position: absolute;
    padding: auto;
    top: 50%;
    left: 50%;
    width: fit-content;
    padding: 0% 5%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.intro p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.intro button{
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    font-family: 'Poppins',sans-serif;
    color: black;
    border: 2px solid black;
    padding: 12px 24px;
    font-size: 13px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}
.intro button:hover{
    background-color: grey;
}
