body
{
    background-image: url(./backgroundmountain.avif);
    background-repeat: no-repeat,no-repeat;
    background-size: auto;
    background-position: 50% 0%;
    background-blend-mode:exclusion;
}