*{
margin: 0;
padding: 0;
font-family: 'Poppins',sans-serif;
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
    background-color: rgba(0,0,10,0.8);

}
header p{
    font-size: 3vh;
    color: antiquewhite;
}
.inputformdiv{
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    width: fit-content;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 40px;
    margin-top: 10vh;
}
.inputformdiv input{
    padding: 1vh 2vw;
    margin: 1vh 1vw;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 2vh;
}
.inputformdiv label{
    color: aliceblue;
}
.createaccount{
        padding: 1vh 2vw;
        margin: 1vh 1vw;
        border-radius: 10px;
        border: 1px solid black;
        font-size: 2vh;
}
.loader {
    display: none;
    margin: auto;
    border: 4px solid aqua; /* Light grey */
    border-top: 4px solid beige; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.error{
    display: none;
    background-color: lightcoral;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    width: fit-content;
    margin: auto
}

.BGVideo{
    width: 100vw;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
}