*,*,*::after,*::before
{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins',sans-serif;
    
}
header
{
   position: fixed;
   z-index: 1000;
   width:100%;
   min-height: 10vh;
   display: flex;
   animation-name: heading;
   animation-duration: 1s;
   animation-timing-function:ease-out;
}
@keyframes heading {
    from{
        transform: translateY(-15vh);
    }
    to{
        transform: translateY(0vh);
    }
}


.rightmenu
{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.rightmenu ul
{
    padding: 2vw;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2vw;
}
.rightmenu ul a
{
    z-index: 1000;
    padding: 2vh 2vw;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    border: 1px solid #000000;
    border-radius: 10px;
}
.hamburgermenu .fa{
    z-index: 50;
    position: absolute;
    width: 90%;
    text-align: right;
    display: block;
    color: #fff;
    margin-top: 1.5vh;
    font-size: 3vw;
    cursor: pointer;
}
.hamburgercontainer
{
}
.hamburgermenu
{
    z-index: 1000;
    width: 20vw;
    left: -20vw;
    height: 100vh;
    position:absolute;
    /* background: rgb(80,77,134); */
    /* background: radial-gradient(circle, rgba(80,77,134,0.9) 0%, rgba(118,117,162,0.9) 24%, rgba(160,160,193,0.9) 50%, rgba(108,149,176,0.9) 72%, rgba(41,135,154,0.9) 100%);  */
    /* background-color: grey; */
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    transition: 0.5s;
    /* backdrop-filter: blur(50px); */
}
.hamburgermenuback
{
    filter: blur(20px);

    z-index: 999;
    width: 20vw;
    left: -20vw;
    height: 100vh;
    position:absolute;
    background-color:rgba(0,0,0,0.5);
    /* background-color: white; */
    transition: 0.5s;
    filter: blur(0.5);
}

.hamburgermenu ul
{
    display: flex;
    height: 95%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.hamburgermenu ul li 
{
    text-align:left;
    text-indent: 10%;
    width: 100%;
}
.hamburgermenu ul li a
{
    text-decoration: none;
    color: white;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 600;
}
.logo
{
    z-index: 900;
    height: 70px;
}
.logotext{
    width: 100%;
    text-transform: uppercase;
    font-weight: 300px;
    text-align: center;
    mix-blend-mode:exclusion;
    color:white;
}
.hamburgermenu-button{
    background: none;
    border: none;
    padding: 10px;    
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hamburgermenu-bar{
    position: relative;
    width: 30px;
    height: 1.3px;
    background-color: white;
    border-radius: 2px;
}
.hamburgermenu-bar::after,.hamburgermenu-bar::before
{
    content: "";
    position: absolute;
    width: 100%;
    height:inherit;
    background-color:inherit;
    border-radius: 2px;
    right: 0vw;
}
.hamburgermenu-bar::after
{
    top: 1.35vh;
}
.hamburgermenu-bar::before
{
    top: -1.35vh;
}



