*,*,*::after,*::before
{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins',sans-serif;
}
header
{
   width:100vw;
   min-height: 10vh;
   display: flex;
   background-color: rgba(52, 49, 46, 0.322);
   animation-name: heading;
   animation-duration: 1s;
   animation-timing-function:ease-out;
}
@keyframes heading {
    from{
        transform: translateY(-15vh);
    }
    50%
    {
        transform: translateY(2vh)
    }
    to{
        transform: translateY(0vh);
    }
}


.rightmenu
{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.rightmenu ul
{
    padding: 2vw;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2vw;
}
.rightmenu ul a
{
    padding: 2vh 2vw;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 300;
    border: 1px solid #000000;
    border-radius: 10px;
}
.hamburgermenu .fa{
    position: absolute;
    width: 90%;
    text-align: right;
    display: block;
    color: #fff;
    margin-top: 1.5vh;
    font-size: 3vw;
    cursor: pointer;
}
.hamburgermenu
{
    z-index: 3;
    width: 15vw;
    left: -15vw;
    height: 100%;
    position:absolute;
    background-color:rgba(52, 49, 46, 1);
    transition: 0.5s;
}
.hamburgermenu ul
{
    display: flex;
    height: 95%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.hamburgermenu ul li 
{
    text-align:left;
    text-indent: 10%;
    width: 100%;
}
.hamburgermenu ul li a
{
    text-decoration: none;
    color: white;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 300;
}
.logo
{
    height: 70px;
}
.logotext{
    width: 100%;
    text-transform: uppercase;
    font-weight: 300px;
    text-align: center;
    color: white;
    mix-blend-mode:difference;
}
.hamburgermenu-button{
    background: none;
    border: none;
    padding: 10px;    
    width: 10%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hamburgermenu-bar{
    position: relative;
    width: 30px;
    height: 1.3px;
    background-color: white;
    border-radius: 2px;
}
.hamburgermenu-bar::after,.hamburgermenu-bar::before
{
    content: "";
    position: absolute;
    width: 100%;
    height:inherit;
    background-color:inherit;
    border-radius: 2px;
    right: 0vw;
}
.hamburgermenu-bar::after
{
    top: 1.35vh;
}
.hamburgermenu-bar::before
{
    top: -1.35vh;
}


.intro{
    width: 90%;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    position: absolute;
    padding: auto;
    top: 50%;
    left: 50%;
    width: fit-content;
    padding: 0% 5%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.intro p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.intro button{
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    font-family: 'Poppins',sans-serif;
    color: black;
    border: 2px solid black;
    padding: 12px 24px;
    font-size: 13px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}
.intro button:hover{
    background-color: grey;
}

