*{
    margin:0;
    padding: 0;
}
header{
    display: flex;
    size: fit-content;
    justify-content: center;
    background-color: gray;

}
header p
{
    text-align: center;
    width: 100%;
}
.parallax{
    display:flex;
    justify-content: center;
    height: 100vh;
    width: 100wh;
    position: relative;
}
.parallax img{
    position:absolute;
    height: 100vh;
    width: 100wh;
    transform: translateX(0%);
}