*{
    margin:0;
}
body
{
    overflow-x: hidden;
    background-color: grey;
}
#chatroom{
    position: absolute;
    top: 90px;
    display: flex;
    width: 97%;
    height: 87%;
    padding: 2%;
}
#users, #messages{
    flex: 1;
    margin: 0 10px;
    background-color: #202020;
    padding: 0px;
    height: 100%;
    overflow-y: auto;
}
#users{
    border-radius: 20px 0 0 20px;
    flex: none;
    width: 200px;
    padding: 0;
}
#messages{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 20px 20px 0;
    padding: 0;
}
#inputdiv{
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 20px;
    background-color: darkgray;
}
#messages input{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
}
#messages button{
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
#userlist, #messagelist{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
}
#userlist{
    height: 97%;
}
#messagelist{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#userlist li{
    text-align: left;
    padding: 10px;
    align-self: flex-start;
    background-color: darkgray;
    color: white;
    border-radius: 10px;
    margin: 2px;
    overflow-x: hidden;
    cursor: pointer;
    width: 85%;
}
#messagelist li{
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    align-self: flex-start;
    background-color: darkgray;
    color: white;
    border-radius: 10px;
}
.loaderdiv{
    display: flex;
    height: 100%;
}
.loader {
    margin: auto;
    border: 4px solid aqua;
    /* Light grey */
    border-top: 4px solid beige;
    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}