*{
font-family: 'Poppins', sans-serif;
}
body
{
    overflow-x: hidden;
    background-color: rgb(40,40,40);
    background-color: linear-gradient(0deg, rgba(40,40,40,1) 0%, rgba(11,11,11,1) 22%, rgba(52,52,52,1) 57%, rgba(111,111,111,1) 100%);
}
#specialheader{
    border: 1px solid transparent;
}
#blocker{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}
#main-content{
    height: 100%;
    width: 100%;
     padding-top: 10vh; 
     position: absolute;
     z-index: 10;
  }
  #namediv{
    margin: auto;
    padding: 2%;
    width: fit-content;
    padding: 2% 5%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    border: 1px solid;
  }
.editBtn{
  display: none;
    background: transparent;
    border: 1px solid transparent;
    width: fit-content;
    color: white;
    padding: 2%;
    cursor: pointer;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
}
#profilepage{
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    color: white;
}
#profileheader{
    margin: 2%;
    display: flex;
    flex-direction: column;
}

#travelPrefsdiv{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    border: 1px solid;
}
#biodiv{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    border: 1px solid;
}
#savebtn{
  position: relative;
  display: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  margin: auto;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  color: rgb(42, 52, 65);
  background-color: rgb(97, 255, 137);
  transition: 0.5s;
}
#profileheader .name{
    text-align: center;
    font-size: 20px;
    padding: 1%;
    font-weight: bold;
    width: fit-content;
    margin: 2% auto;
}




#parallaxdiv{
    display: flex;
    position: fixed;
    width: 100%;
  }
  .parallax{
    display: flex;
    height: 100vh;
    justify-content: center;    
    position: relative;
    pointer-events: none;
    overflow-x:hidden;
    overflow-y:hidden;
    transition: 0.45s cubic-bezier(.22,.58,.4,1.02);
  }
  .img1{
    height: 110vh;
    top: -2vh;
  }
  .img4{
    height:102vh;
  }
  .img5{
    height: 100vh;
    bottom: -2vh;
  
  }
  .parallax h1{
    top:6vh;
    position: absolute;
    line-height: 30vh;
    color: white;
    font-size: 12em;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: 900;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    pointer-events: auto;
    user-select: none;
  }
  .parallax img{
    position: absolute;
  }