
body
{
    overflow-x: hidden;
}
.home
{
    width: 100%;
    height: 100vh;
}

.home video
{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
body::before
{
    top:0;
    z-index: -1;
    position: absolute;
    content: "";
    background-color: #2499e138;
    width: 100%;
    height: 100%;
}
.videoslider.active
{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}
.videoslider
{
    position: absolute;
    clip-path: circle(0% at 0 50%);
    
}


.slidernavigation
{

    display: flex;
    justify-content: center;
    align-items: center;
}
.slidernavigation .nav-button
{
    width: 12px;
    height: 12px;
    background: white;  
    border-radius: 50%;
    cursor: pointer;
    margin-top: 6vh;
    margin-bottom: 6vh;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}
.slidernavigation .nav-button:not(:last-child)
{
    margin-right: 20px;
}
.slidernavigation .nav-button:hover
{
    transform: scale(1.2);
}
.nav-button.active
{
    background:#00c0e5;
}

 .introcontainer
 {
    z-index: 500;
    display: flex;
    padding-top: 20%;
    /* margin-bottom: 5vh; */
    justify-content: left;
    align-items:left;
    flex-direction: column;
    width: 100%;
    
 }
.intro{
    position: relative;
    color: #fff;
    top: 0;
    width: 50%;
    padding: 0% 5%;
    /* background-color: rgba(255, 255, 255, 0.272); */
}
.intro h1
{
    font-weight: bolder;
    text-align: left;
    text-shadow: 1px 1px 1px #00000062;
}
.intro p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    text-align: left;
    text-shadow: 1px 1px 1px #00000058;
    
}
.intro button{
    font-family: 'Poppins',sans-serif;
    color: black;
    border: 0px solid black;
    padding: 12px 24px;
    font-size: 13px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}
.intro button:hover{
   background-color: #00c0e5;
   transform: scale(1.2);
}
.Browser
{
    
    width: 100%;
    height: auto;
    background-image: url(/assets/images/backgroundmountain.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 5vh;
}
@keyframes moveright {
    from{transform: translateX(-100vw);}
    30%{transform: translateX(5vw)}
    70%{transform: translateX(5vw)}   
    to{transform: translateX(100vw);}
}

@keyframes textleft {
    from{opacity: 0;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    to{opacity: 0;}
}