*{
    margin:0;
}
body
{
}
#main-content{
  height: 100%;
  width: 100%;
   padding-top: 10vh; 
   position: absolute;
   z-index: 10;
}
#plans{
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
    padding: 2%;
    margin:  3% auto;
    justify-content: center;
    width: fit-content;
   }
.plans-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    height: 80px;
    width: 200px;
    padding: 40px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgba(255, 255, 255,0.5);
   
}
.plans-item:hover{
    transform: scale(1.1);
}
.plan-itemID{
  background-color: rgba(0, 0, 0, 0.2); 
  position: absolute;
  width: 100%;
  border-radius: 20px 20px 0 0;
  top: 0;
  backdrop-filter: blur(10px);
}
.plan-itemDesc{
  position: absolute;
  font-size: 60%;
  font-weight: bold;
  color: white;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 20px 20px;
  backdrop-filter: blur(10px);
}
#addplanbtn{
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    font-size: 40px;
    border: none;
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position:fixed; /* Stay in place */
    z-index: 25; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: lightgray;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  .modal-content form{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .modal-content form>p{
      font-size: 20px;
      margin: 10px;
      align-self: center;
  }
  .textinput{
    border-radius: 10px;
    border: none;
    background-color: white;
    padding: 10px;
  }
  #submitbtn{
    border-radius: 10px;
    border: none;
    background-color: white;
    margin: auto;
    width: fit-content;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
  }
  #submitbtn:hover{
    background-color: darkgray;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .loaderdiv{
    display: flex;
    height: 100%;
}
.loader {
    display: none;
    margin: auto;
    border: 4px solid aqua;
    border-top: 4px solid beige;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#parallaxdiv{
  display: flex;
  position: fixed;
  width: 100%;
}
.parallax{
  display: flex;
  height: 100vh;
  justify-content: center;    
  position: relative;
  pointer-events: none;
  overflow-x:hidden;
  overflow-y:hidden;
  transition: 0.45s cubic-bezier(.22,.58,.4,1.02);
}
.img1{
  height: 110vh;
  top: -2vh;
}
.img4{
  height:102vh;
}
.img5{
  height: 100vh;
  bottom: -2vh;

}
.parallax h1{
  top:6vh;
  position: absolute;
  line-height: 30vh;
  color: white;
  font-size: 12em;
  text-align: center;
  font-family: 'Poppins',sans-serif;
  font-weight: 900;
  text-shadow: 0 5px 10px rgba(0,0,0,1);
  pointer-events: auto;
  user-select: none;
}
.parallax img{
  position: absolute;
}