*{
    margin:0;
}
*,html{
  scroll-behavior: smooth !important;
}
body
{
    overflow-x: hidden;
    background-color: rgb(35, 43, 77);
}
#main-content{
   padding-top: 11vh; 
}
#add-destination{
    margin: 20px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
#destinationlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    align-items: center;
}
#destinationlist li{
  position: relative;
    height: 500px;
    width: 100%;
    margin-bottom: 10px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 34px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#cardclose{
  margin: 10px;
  float: left;
  height: fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 0px 10px;
  color: rgb(255, 62, 62);
  background-color: rgb(0,0,0,0.5);
  backdrop-filter: blur(20px);
  transition: 0.3s;
}
#cardclose:hover,
  #cardclose:focus {
    color: lightcoral;
    text-decoration: none;
    cursor: pointer;
  }

.card{
  position: absolute;
  display:flex;
  flex-direction: column;
  margin: 20px;
}
.card-body{
    display: flex;
    flex-direction: row;
    margin-top: auto;
    height: fit-content;
}
.card-title{
    padding: 10px;
    margin: 0px 20px 0px 0px;
    color: white;
    background-color: rgb(0,0,0,0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
.card-text{
  padding: 7px;
  color: white;
  height: fit-content;
  background-color: rgb(0,0,0,0.2);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
  align-self: center;
}
.card-description{
  margin: 20px 0px;
  padding: 10px;
  color: white;
  height: fit-content;
  width: fit-content;
  background-color: rgb(0,0,0,0.1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  font-size: 15px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: lightgray;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  

#modalTimecontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
#modalTimeHeader{
  font-size: large;
  margin: 10px;
  font-weight: bold;
}
#modalTimecontent .close{
align-self: flex-end;
}
#dateinput{
  margin: 40px;
}
#modalTime input{
  width: fit-content;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#modaldestinationlist{
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    align-items: center;
  }
#modaldestinationlist li{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        margin: 2px 0;
        cursor: pointer;
  }
#topRow{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#savePlan{
  position: absolute;
  display: block;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  color: rgb(42, 52, 65);
  background-color: rgb(97, 255, 137);
  transition: 0.5s;
}
.loaderdiv{
  padding: 20px 60px;
}
.loader {
    display: none;
    margin: auto;
    border: 4px solid aqua;
    border-top: 4px solid beige;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#scroller{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 20px;
    top: 35%;
    z-index: 5;
    color: white;
    border-radius: 10px;
    padding: 10px 0px 0px 0px;
    backdrop-filter: invert(100%) blur(20px) brightness(50%);
}
#scroller ul{
    list-style: none;
    padding: 0;
}
#scroller ul li{
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  
}
#scroller ul li:hover{
  transform: scale(1.25) rotate(45deg);
  border-radius: 0px;
  background-color: lightgray;
}

#scroller #add-destination{
  margin: 0px 10px 10px 10px;
}
.line{
  height: 20px;
  width: 1px;
  padding: 0px;
  margin: auto;
  align-self: center;
  background-color: aliceblue;
  
}
.dotinfo{
  display: none;
  position: absolute;
  transform-origin: right top;
  transform: translateY(-15px) scale(0);
  right: 50px;
  width: fit-content;
  padding: 0px 10px;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  color: black;
  transition: 0.5s;
}

#scroller ul li:hover ~ .dotinfo{
  display: block;
  transform: translateY(-15px) scale(1);
}
