body{
    background-color: bisque;
    overflow-x: hidden;
    background: url(https://www.londonperfect.com/cdn-cgi/image/format=auto,width=1256/https://www.londonperfect.com/g/photos/upload/sml_302526596-1498570960-big-ben-westminster.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.info
{
    position: absolute;
    width: fit-content;
    left: 12%;
    top:15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5vh;
}
.description
{   
    text-align: left;
    max-width: 30vw;
    height: max-content;
    max-height: 20vh;
    overflow-y: scroll;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    font-size: smaller;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
}
.title
{
    font-size:10vh;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    font-family:serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;

}
/* width */
.description::-webkit-scrollbar {
    width: 10px;
  }
  
 
  /* Handle */
.description::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255,0.5); 
  }
  
  /* Handle on hover */
.description::-webkit-scrollbar-thumb:hover {
    background:rgba(255, 255, 255,0.7); 
  }


.add-Review
{
    position: absolute;
    bottom:35%;
    left:13%;
    width: fit-content;
    height: 6vh;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
   border: 2px solid black;
    border-radius: 30px; /* Adjust the border radius as needed */
    transition: 0.3s ease;
    font-size:70%;
    font-weight: bold;
}
.add-Review:hover
{
    transform: scale(1.2);
    transition: 0.3s ease;
    background-color:rgba(65, 184, 235, 1);
    color: white;
    cursor: pointer;
}

.read-Review
{
    position: absolute;
    bottom:35%;
    left:24%;
    width: fit-content;
    height: 6vh;
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
   border: 2px solid black;
    border-radius: 30px; /* Adjust the border radius as needed */
    transition: 0.3s ease;
    font-size:70%;
    font-weight: bold;
}
.read-Review:hover
{
    transform: scale(1.2);
    transition: 0.3s ease;
    background-color:rgba(65, 184, 235, 1);
    color: white;
    cursor: pointer;
}

.pictureselection
{
    display: flex;
    justify-content: space-between;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAACcCAYAAAAwN4hoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTQyIDc5LjE2MDkyNCwgMjAxNy8wNy8xMy0wMTowNjozOSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpENTVCQUY1NkFBMDAxMUU5QUIyQ0EyRkIyMzlDNkQ1QyIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpENTVCQUY1N0FBMDAxMUU5QUIyQ0EyRkIyMzlDNkQ1QyI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkQ1NUJBRjU0QUEwMDExRTlBQjJDQTJGQjIzOUM2RDVDIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkQ1NUJBRjU1QUEwMDExRTlBQjJDQTJGQjIzOUM2RDVDIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+9KC71AAACJRJREFUeNrsXQluIzkMJGW9IP9/a7i7wCZoy2SxSMnJxBkDg4nbLbUOHsUSpda3tzf5IR/9959lN83/b/xJnaI6ZEsBS0ZnrdjAwyy53/s7+32t67NdHx1SYiSUEAe2nCZ/a1B3Wv9JkdPvFLWPzwAjtF5XYoQlKec1dP3HSoQ7o7PYWCQWUvjOzka5UwMU0gMPq3QwGyBqUOZF9JBSW6D4yLIN57uRnTFnBq51mtOuzw6NgnhpU4l1Q5wZa6jrDKlj1xX4FAP+yKtPQfnI90jwHfmouxky0iohx6rJNSV0xBNPDZz8WMVxABNe8QfDMfmDFK+RfI/aMTzzPy+jwehKNoueCKkzsprohQbQJtNDy/xQx2Ozir1bxq1nJoqpxChlhiD6zuBBDxBHbbGPDq3ya8vUW6DEdsiJdspq1LG5WBRbOuU5XQsskyZ4LTO/yCwba7Cmo7gM4OyMbBY2ICRCz/KfFrFut+WnheB0PMSIHYpfohgI3SegjBDPcFH4ZEEfYF2ixo7A7HaglRI6+NAhJQgN1BjPhwzSQjF1WuAyLBI5KViYaEYyrFbFihrgt0isdcoe1Nk11yee+WDlxitZuVkkDU9+KigA1REaha/g16Sgoy1H/HKOddWh94tlel8s2Duwau+Xe8ZSz/p5T/T2+rv3N2rjA1k/FtQtzndkmj/+v0m89DES8bld9Go4JnsEYXjI+nSYz91Ik9EvZXVoNLyykhEtY8EMcBIoojXEnFI4ifz7KtsK9PDjuwaMzrvT3tvl+s2751mOdZDXx2Yd41eY7YyxYdFwB22cQuJQ5LprOZ06jqKEXwNO5YAIZMAzE7Wq2N/RWMhvGJhu1OiIqDdgwaJFLs8Hhh2fjhk00JC14ug7YlwVOFNNOpGtT9HhQ2eBuLsGqzt1z+AmA8RJRS/YDJOMpGf085OsHwCLaSIW2cyOBJuxoFMBwr/qpc1ASQ0QgKz/MEQIEoNRJuqvM3TS4Z0KsdnyLnOa+QxUUUj6JY0wooFZKPFwbUqdUNzh3KpSUF1OCReNWU9uTZ3yLFlKUYHfTIIFr+qs7MzIDkMa1vWS8dDfDv3pHfpV8ZAV8dyzPvTz2PWh7yL0y8+LwgdjvDKJBjKysooy0P103naX6q0k3OqBWbPVKKCYBmUcsrGPFTrRWhCbciatWZq6eByNMEbBvkDh7VQdjB+qhNAVesokz5FAoHat547GEtA4FJNk4mhB+O6lYUbhepQ74dUJWR82fEY0lddhlsOopOKoB31QLrYKvweoGhpY8sySaF8DvChzcSTyXHGc3urbcPRjSJ456eajzqIDjOQ7SlLSgNLShHtDtBjSudEJHzqpykIOWNdHKQofIq/O7k0QwBtYsxPI+pkQqTGRnFaWRpDvUNBIS8Dtev1O33bTy3buqWQg05sQf2oIrpUQnEEImW4IYcYzM9zRN2ORgkhtewBrihXorpKDVkLbsmFad0L1du7Qy9JYWWx/Mi56aozFbogywniI4MyqihhVsrge1ofQA5ByaoFg0QB8MlwFevYDisgi1upyZIU96ix1pg6aZU6z0bMkUs3ERiQ/MyFbu3JXwTWIVbL4PwK0Q/IVc0RxMfHRA/TpUFSMM7aiGGkjPlJktisjzy61V47iYJBGxjbZcEZpBKN3kyTF2Ampr425XX6/1jWCOsaljCz1jKXOzxTpCSoUosFsbml0fRSfl5b9lUuSO8sebPnukk0bnHaTKyrlj2TnR36IoYJFeMoYOczMMjJcxUM85PmAQdJTWryvcq0MhaLd+owPQIhbpQaHUKqNJSzsA/Sp5MRV9pdWlh6rv4X3RcspCHNJEzkIQcYwM2pV1kcBuyOAMJSkHCIUUZ3sjmVjzPYuiVgBuN17xYuHVPiNSdHIR7nVWbkOsA3vn00lrhqKzuxXDiC7m6EBnGP3lD7kALMMEwYKhRK1c4RH+5Q+qR/pZuKfzvRw/0gaUfEPQzCNjMpnZ5UoORA6C6Cx6vQqnarMFqzn74aoIhI4xZL+ER36in145Q7tnnmwW47BcXfXRkJURKktDHEyFqYn25Q7ghiMPafujmhk2BdpdCpjiUajblrkKuup9BJhEmZ36wpRQyWjsYrVmDp36oIHFVmx4q/O26aNyXrwD6tLt0DRGaZTQFmmPHqmu2XttIGQolHY6tRLHsfmIdts/bRy8maE4DsGIEsb1ehMEsR8ZlaP4fOYFfLVJA8GeUecAjNiRlyrmO4jWG/K2b0H366Pkwh72VP9K0npzFsFIkQAKeNZjFRPIYnqWwXo6DnaacxwZp3fq7uRIwkIOb4pj7vfhRCrjI4aSaeyZFshjI6bx8DsHxLJz+xFr1XIMvYjDm8Q1lU9kdsNm7sHhZ3Ye/6lnMK3QR/GynXe3iEAQiGdUgbiRP+vIbgBqFPNvY6WOSNLNiROkkI+SAVst9FA4T1rF53B4xEdluC+ih5GiwufZ5J0DjsxwgJ2rjEUMFqh13mQRNxdCTxCYL50gCfSX3qv+qCde6h4yCvMbP5DQaAF9XjWbiQYEp1p7/Jy1X1BaENU51UHKv42NHbT4md9TPjQFa1qBhazSpfCoixnO/LiSqADFm1kBA17Zn0YD3l8c3YcbrSdcw0lol2O2Xv2huB3Qtz5ocqaaNdR7r4xivZlQ3rHoSkBKln+rvrqBIokGURkymTJV94dYYVOMW+Lcq3cEH8HSQQMhQSRke9huYlsv/qDUWBHnJn+zksCj7mHZ+Qo6KHyWggSnw5OT3dKKkahsh8IsaDPXPrPTtxU1mFWYJA+cTZplmlKLc9NAAGJwnXmzYadQ1Ye/p7BSFtyjXlxGdod5vmZaKfZKCDuUIeqMCSKnaIzgFla6kiAd9K6VX2PkZ0KD7CcT+zMrvK3Bm4ULFUlEu2ID6qDprxmEdFWifhup6TbqZdKz/zv848AAwBMxYX+DeScpQAAAABJRU5ErkJggg==) center bottom repeat no-repeat;
    position: absolute;
    bottom: 0%;
    height: 20vh;
    width: 100%;
    gap: 2vw;
    
}
.wrapper
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 2vw;
}
.wrapper::-webkit-scrollbar {
    display: none;
}
.image
{
    min-width: 17.4%;
    max-width: 17.4%;
    height: 100%;
    border: solid 2px white;
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    overflow: hidden;
}
.image:hover
{
    background-color: white;
    color: black;
}
.image img{
    width: 100%;
    min-height: 75%;
    max-height: 75%;

}
.image h3{
    text-align: center;
    text-transform: uppercase;
}
.active
{
    background-color: white;
    color: black;
}
.arrow{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none; /* Hidden by default */
    position:fixed; /* Stay in place */
    z-index: 25; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
#modal-content {
    background-color: lightgray;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #888;
    width: fit-content; /* Could be more or less, depending on screen size */
    display: flex;
    justify-content: center;
}

#read-review-modal-content {
    background-color: lightgray;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    justify-content: center;
    z-index: 30;
}

#InputDiv{
    position: absolute;
    z-index: 1;
}
#InputDiv input[type='radio'] {
    opacity: 1; /* Hide the radio buttons */
    cursor: pointer;
    margin: 5.2px;
    scale: 1.5; 
    opacity: 0;
}

#StarDiv {
    position: absolute;
    z-index: 0;
    display: flex;
}

#StarDiv label {
    display: inline-block;
    font-size: 24px; /* Adjust the size of the stars */
}
#StarDiv .checked{
    color: orange;
}

#ModalFormDiv{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#ModalFormDiv input{
    text-align: center;
}

.ReadReviewUsersRatings{
    padding: 40px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: antiquewhite;
    text-align: center;
    margin: 5px;
}

#ReviewSubmit{
    border-radius: 10px;
    padding :4px;
    font-weight: bold;
}

#ReviewSubmit:hover{
    cursor: pointer;
    border: 3px groove chocolate;
}

#ReviewDescription{
    border-radius: 10px;
    padding: 10px;
}